<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIoeSXg2vs9R_KRVW5g_j6IX4rMVtpChQ</string>
	<key>GCM_SENDER_ID</key>
	<string>394138245821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockTestDesignli</string>
	<key>PROJECT_ID</key>
	<string>stocks-designli</string>
	<key>STORAGE_BUCKET</key>
	<string>stocks-designli.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394138245821:ios:1183211feba7efda7235d4</string>
</dict>
</plist>